.cart-section {
  display: flex;
}

.product-cart, .cart-resume {
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 30px;
  margin: 10px;
  height: 220px;
  word-wrap: break-word;
  display: flex;
  justify-content: space-between;
}

/* CART CARD */
.product-cart {
  width: 680px;
  align-items: center;
}
.product-img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
}
.product-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2px;
  width: 340px;
  height: 100px;
}
.product-price {
  width: 100%;
  text-align: right;
}
.product-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-input {
  width: 70px;
  height: 40px;
  border-radius: 10px;
  border: 1px #eaeaea solid;
  padding: 5px;
}

/* RESUME */
.cart-resume {
  width: 340px;
  flex-direction: column;
}
.cart-data {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cart-title {
  display: flex;
  justify-content: space-between;
}
.cart-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-tax {
  padding-bottom: 10px;
}
.cart-btn {
  width: 100%;
  background: #ff3b3c;
  color: white;
  font-weight: bold;
  border: none;
  height: 40px;
  border-radius: 10px;
}
.cart-btn:hover {
  background: #ff5151;
}






/* DESCRIPTION */
.product-description-block {
  flex-direction: column;
}
.product-title {
  color: black;
  font-size: 28px;
  font-weight: 700;
  word-wrap: break-word;
  margin-top: 0;
}
.product-selector {
  margin-top: 30px;
}
.product-fieldset {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.product-label {
  color: black;
  font-size: 12px;
  font-weight: 700;
}
.product-select {
  width: 100%;
  height: 40px;
  background: white;
  border-radius: 10px;
  border: 1px #eaeaea solid;
  margin: 10px 0;
  padding: 10px;
  box-sizing: border-box;
}
.product-description {
  margin-top: 30px;
  line-height: 20px;
}

/* CHECKOUT */
.product-checkout-block {
  flex-direction: column;


}


.product-mod {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.checkout-container {
  background-color: #ebebeb;
  padding: 33px;
  border-radius: 2px;
}
.checkout-total-label {
  color: #ff3b3c;
}
.checkout-total-price {
  
  margin-top: 0px;
}
.checkout-description {
  line-height: 20.4px;
  word-wrap: break-word;
}
.checkout-policy-list {
  padding: 0;
  list-style-type: none;
  margin-bottom: 30px;
}
.checkout-policy-list li {
  display: flex;
  margin: 15px 0;
}
.checkout-policy-list li .policy-icon {
  margin-right: 15px;
}
.checkout-process {
  row-gap: 20px;
  margin-top: 10px;
  margin-left: 15px;
}
.checkout-process .top {
  display: flex;
  margin-bottom: 10px;
}
.checkout-process .top input {
  height: 40px;
  border-radius: 10px;
  border: none;
  width: 62px;
  margin-right: 10px;
  padding: 0 10px 0 20px;
  box-sizing: border-box;
}
.cart-btn {
  width: 100%;
  background: #ff3b3c;
  color: white;
  font-weight: bold;
  border: none;
  height: 40px;
  border-radius: 10px;
}
.cart-btn:hover {
  background: #ff5151;
}

/* SALES */
.sales-block {
  margin: 20px 0;
  justify-content: center;
}
.sales-title {
  text-align: center;
  font-size: 40px;
}
.cart-section {
  display: flex;
  justify-content: space-evenly;
}
#productscart {
  width: 400px;
  min-height: 200px;
  padding: 10px;
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


 #total {
  width: 400px;
  /* min-height: 200px; */
  padding: 10px;
  /* background-color: #eaeaea; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}


.products {
  padding: 10px;
  margin: 10px;
  background-color: white;
}


.checkout-container1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#cartproducts{
  flex: 1; /* Hace que los sectores sean flexibles */
  margin: 20px 10px; /* Ajusta el margen entre los sectores según sea necesario */
  width: 750px;
 
    background-color: #ebebeb;
    padding: 20px;
    border-radius: 2px;

}

.product-checkout-block {
width: 100px;
}


/* IMAGES */
.product-images-block {
  display: flex;
}
.product-images {
  width: 24px;
  margin: 3px;
}
.mini-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.big-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}


/* PRODUCT DETAILS */
 .sales-block {
  width: 1080px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.details-container  {
 
  display: flex;
  flex-wrap: wrap;
  position: relative;
  left: 250px;
 
}

.columns-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


#total{
  width: 340px;
  padding: 10px;
  margin: 10px
}

.product-images-block, .product-description-block {
  width: 340px;
  padding: 10px;
  margin: 10px
}


.subcheck{
  display: flex;
   justify-content: space-between;
   align-items: stretch;
  }


  


